.player {
    display: flex;
    justify-content: center;
    background-color: #192536;
    padding-top: 60px ;
}
.new {
    display: flex;
    justify-content: center;
    background-color: #192536;
    padding-bottom: 60px ;
}